<h1>Alimentos</h1>

<div class="alert alert-info">
  <a class="close" data-dismiss="alert">×</a>
  Acá podés crear alimentos, los vas a necesitar para la dieta.
</div>

<%= form_tag(change_type_foods_path, :method => 'get', id: 'change_form') do  %>
<div class="control-group">
    <label for='type_id'> Categoria </label>
    <div class="controls">
      <%= select_tag :type_id, options_for_select(@foodTypes) %>
    </div>
</div>
<% end %>

<div id='food_table'>
<%= render 'foods', locals: {foods: @foods} %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_food_path,
            :class => 'btn btn-primary' %>
